/* Reset */
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #141414;
    color: #fff;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

input, textarea, button, select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    outline: none;
    border: none;
}

input {
    border: none;
    background-color: #000;
    color: #fff;
}

input:focus {
    outline: none;
}

.search-input {
    display: flex;
    align-items: center;
    border: 1px solid hsla(0,0%,100%,.9);
    background-color: #000;
    font-weight: 500;
    padding: .25em .75em;
    gap: .5rem;
    transition: display 1s ease-in-out;
} 

#searchIcon {
    cursor: pointer;
}

.no-scroll {
    scroll-behavior: none;
}

.logo {
    font-weight: 800;
    font-size: xx-large;
    cursor: pointer;
    color: #fff;
}

.logo-text {
    color: hsl(357, 100%, 50%);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.logo-nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.main-nav-list {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* flex-wrap: wrap; */
}

.nav-list li {
    cursor: pointer;
}

.btn {
    margin-left: .5rem; 
    color: #fff; 
    padding: 0em .5em;
    border-radius: 3px;
    background-color: hsl(357, 100%, 50%);
    font-size: small;
    height: 30px;
    align-self: center;
}

.sign-in-btn {
    background-color: hsl(357, 100%, 50%);
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    padding: 7px 17px;
    border-radius: 3px;
    color: #fff;
}

.sign-in-btn:hover, .btn:hover {
    background-color:  hsl(357, 80%, 40%);
    cursor: pointer;
}

.movie-card {
    width: 150px;
}

.container {
    max-width: 1024px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    padding: 1.37em;
    position: relative;
}

.genre-container {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.genre-slider::-webkit-scrollbar, .browse-dropdown-content::-webkit-scrollbar {
    background: rgba(0,0,0,0);
    height: 8px;
    margin-top: 5px;
    cursor: none;
}

.genre-slider::-webkit-scrollbar-thumb:hover, .browse-dropdown-content::-webkit-scrollbar-thumb:hover {
    background-color: #cfd6e1;
    cursor: cell;
}

.browse-dropdown-content::-webkit-scrollbar {
    width: 8px;
}

.genre-slider::-webkit-scrollbar-thumb, .browse-dropdown-content::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: rgba(255,255,255,0.4);
}  

.genre-slider {
    display: flex;
    gap: 1em;
    overflow-x: auto;
}

.movie-card-nav {
    width: 150px;
}

.genre-title {
    color: #fff;
    font-size: xx-large;
    font-weight: 800;
}

.genre-title-count {
    display: flex;
    gap: 5px;
}

.movie-image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.browse-dropdown-header, .sort {
    display: flex;
    align-items: center;
    border: 1px solid hsla(0,0%,100%,.9);
    background-color: #000;
    font-weight: 500;
    padding: .25em .75em;
    gap: 1rem;
}

.browse-dropdown-header {
    position: relative;
}

.browse {
    display: flex;
    flex-direction: column;
}

.browse-dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 5px;
    padding: 5px;
    border: 1px solid rgb(36, 36, 36);
    border-top: none;
    position: absolute;
    top: 28px;
    left: 0px;
    width: 100%;
    height: 300px;
    background-color: rgba(0,0,0,0.8);
    overflow: auto;
    cursor: auto;
}

.browse-dropdown-content a {
    padding-left: 10px;
    width: 100%;
}

.browse-dropdown-content a:hover {
    text-decoration: underline;
}

.nav-item, .browse, .sort {
    cursor: pointer;
}

.nav-item:hover {
    opacity: .8;
}

.browse-dropdown-header:hover {
    background-color: rgb(41, 41, 41);
}

.fa-magnifying-glass:hover {
    opacity: ;
}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(20, 20, 20, .8);
    position: fixed;
    top: -200px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.movie-card-modal {
    position: relative;
}

.modal {
    background: #141414;
    max-width: 600px;
    border-radius: 10px;
    margin: 1.37em;
}

.movie-header {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.thumbnail {
    box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
    width: 150px;
} 

.title-year-director {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rating-genre {
    display: flex;
    align-items: center;
    gap: 12px;
}

.movie-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.info-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    padding: 25px;
}

.movie-social li {
    cursor: pointer;
}

.movie-social {
    display: flex;
    color: rgba(255,255,255,0.4);
    transition: color 0.3s;
    transition-delay: 0.15s;
    gap: 10px;
    align-items: center;
}

.text {
    color: #cfd6e1;
}

.movie-social li:hover {
    transition: color 0.3s;
    color: rgba(255,255,255,0.8);
}

.movie-card-nav-list li:hover, .fa-chevron-down:hover, .fa-circle-xmark:hover, .fa-magnifying-glass:hover {
    transition: color 0.3s;
    color: rgba(180, 180, 180, 0.8); 
}

h4 {
    color: #9ac7fa;
    font-weight: 400;
}

.movie-card-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: #1f1f1f;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.movie-card-nav i, .fa-circle-xmark {
    cursor: pointer;   
}

.fa-circle-xmark {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.movie-card-nav-list {
    display: flex;
    gap: 1em;
    align-items: center;
}

.movie-modal-genre {
    color: #cee4fd;
}

.rating {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.13);
    width: 50px;
    text-align: center;
}

.fav-link {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.13);
}

.movie-social .fav-link:hover {
    transition: color 0.3s;
    color: rgba(255,255,255,0.8);
    background-color: rgba(255, 255, 255, 0.13);
}

.fa-bell {
    position: relative;
}

.fa-bell::after {
    content: "2";
    position: absolute;
    top: -8px;
    right: -8px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: hsl(357, 100%, 50%);
    border-radius: 50%;
    font-size: .5rem;
}

.fa-chevron-down, .fa-xmark, .fa-circle-plus, .fa-circle-minus, .fav-link, .fa-heart, .fa-thumbs-up {
    position: relative;
}

.fa-chevron-down:hover::after {
    content: "More info";
    left: 50%;
    transform: translate(-70%);
}

.fa-xmark:hover::after {
    content: "Remove from row";
    left: 50%;
    transform: translate(-50%);
}

.fa-circle-plus:hover::after {
    content: "Add to 'My List'";
    left: -100%;
}

.fa-circle-minus:hover::after {
    content: "Remove from 'My List'";
    left: -100%; 
}

.fav-link:hover::after {
    content: "Add/Remove from 'My List'";
    left: 50%;
    transform: translate(-50%);
    font-weight: 800; 
}

.fa-heart:hover::after {
    content: "Loved it!";
    left: 50%;
    transform: translate(-50%);
}

.fa-thumbs-up:hover::after {
    content: "Liked it!";
    left: 50%;
    transform: translate(-50%);
    font-weight: 800; 
}

.fa-chevron-down:hover::after, .fa-xmark:hover::after, .fa-circle-plus:hover::after, .fa-circle-minus:hover::after, .fav-link:hover::after, .fa-heart:hover::after, .fa-thumbs-up:hover::after {
    position: absolute;
    top: -35px;
    width: max-content;
    height: max-content;
    padding: .5em .75em;
    background-color: #fff;
    color: #141414;
    font-size: small;
    border-radius: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.mylist-placeholder {
    opacity: .3;
}

.red {
    color: hsl(357, 100%, 50%);
}

.sign-in-btn-mobile {
    display: none;
}

.invisible {
    display: none;
}

@media (max-width: 600px) {
    .sign-in-btn-mobile {
        display: inline-block;
    }

    .sign-in-btn {
        display: none;
    }
}